<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>15384069930-2k1tqe8q2p72hle6umvni577hsuhusgn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.15384069930-2k1tqe8q2p72hle6umvni577hsuhusgn</string>
	<key>API_KEY</key>
	<string>AIzaSyBzDJ_t8r5tUAoNlvbNYYQgDyrDz_ggoeI</string>
	<key>GCM_SENDER_ID</key>
	<string>15384069930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.acs.Great-Wisdom</string>
	<key>PROJECT_ID</key>
	<string>great-wisdom-a197e</string>
	<key>STORAGE_BUCKET</key>
	<string>great-wisdom-a197e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15384069930:ios:2c3140d3ac384aa9a14053</string>
</dict>
</plist>